<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Dima/Desktop/ToolsQaProject">
        <classes>
            <class name="TestCases.TC_0001_TextBox">
                <methods>
                    <include name="TextBoxTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0002_Checkbox">
                <methods>
                    <include name="CheckBoxTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0003_RadioButtons">
                <methods>
                    <include name="radioButtonsTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0004_WebTable">
                <methods>
                    <include name="sortTest"/>
                    <include name="searchTest"/>
                    <include name="addNewUserTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0005_Buttons">
                <methods>
                    <include name="ButtonsTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0006_Links">
                <methods>
                    <include name="LinksTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0007_Links_Api">
                <methods>
                    <include name="ApiCallsTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0008_BrokenLinks">
                <methods>
                    <include name="BrokenLinksTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0009_UploadAndDownload">
                <methods>
                    <include name="UploadAndDownloadTest"/>
                </methods>
            </class>
            <class name="TestCases.TC_0010_DynamicProperties">
                <methods>
                    <include name="DynamicPropertiesTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>